{% extends "admin.html.twig" %}

{% trans_default_domain 'mozaic' %}

{% block title %}
    {{ 'admin.title.season_index' | trans }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'admin.page_title.season_index' | trans }}
{% endblock %}

{% block body %}
    <div class="container py-3">
        <a href="{{ path('disjfa_mozaic_admin_season_create') }}" class="btn btn-primary">
            <i class="fas fa-plus"></i>
            {{ 'admin.button.create_season' | trans }}
        </a>

        {% for season in seasons %}
            <hr>
            <div>
                <h3>
                    <a href="{{ path('disjfa_mozaic_admin_season_show', {'unsplashSeason': season.id}) }}">
                        {{ season.title }}
                        {% if season.public %}
                            <i class="fas fa-check"></i>
                        {% endif %}
                    </a>
                </h3>
                <small>{{ season.dateSeason | date }} | <span class="badge badge-info">{{ season.items | length }}</span></small>
                <p>
                    {{ season.description }}
                </p>
                <a href="{{ path('disjfa_mozaic_admin_season_show', {'unsplashSeason': season.id}) }}" class="row">
                    {% for item in season.items | slice(0, 3) %}
                        <div class="col-sm pb-2">
                            <img src="{{ item.unsplashPhoto | unsplash_photo_block }}" alt="{{ item.title }}" class="img-fluid card-img">
                        </div>
                    {% endfor %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

