{% extends 'admin.html.twig' %}

{% trans_default_domain 'mozaic' %}

{% block title %}
    {{ unsplashSeason.title }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ unsplashSeason.title }}
{% endblock %}

{% block body %}
    <div class="container py-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('disjfa_mozaic_admin_season_index') }}">
                        {{ 'admin.breadcrumb.season_index' | trans }}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ unsplashSeason.title }}</li>
            </ol>
        </nav>
        <h1>
            {{ unsplashSeason.title }}
            <div class="btn-group">
                <a href="{{ path('disjfa_mozaic_admin_season_edit', {'unsplashSeason': unsplashSeason.id}) }}" class="btn btn-outline-primary">
                    <i class="fas fa-edit"></i>
                    {{ 'admin.button.edit_season' | trans }}
                </a>
                <a href="{{ path('disjfa_mozaic_season_show', {'unsplashSeason': unsplashSeason.id}) }}" class="btn btn-outline-primary">
                    <i class="fas fa-paper-plane"></i>
                    {{ 'admin.button.show_on_site' | trans }}
                </a>
            </div>
        </h1>
        <p>
            {{ unsplashSeason.description }}
        </p>
        {{ unsplashSeason.dateSeason | date }}
    </div>
    <div class="bg-light py-3">
        <div class="container">
            <h3>Add item</h3>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

            {{ form_rest(form) }}

            <button type="submit" class="btn btn-primary">
                <i class="fas fa-plus"></i>
                {{ 'admin.label.search_and_add' | trans }}
            </button>

            {{ form_end(form) }}
        </div>
    </div>
    <div class="container py-3">
        <h3>Items</h3>
        {% for item in unsplashSeason.items %}
            <hr>
            <div class="row py-2">
                <div class="col-md-4">
                    <a href="{{ path('disjfa_mozaic_admin_season_item_edit', {'unsplashSeasonItem': item.id }) }}" class="card">
                        <img src="{{ item.unsplashPhoto | unsplash_photo_block }}" alt="{{ item.title }}" class="img-fluid card-img">
                    </a>
                </div>
                <div class="col-md-8">
                    <h3 class="mb-0">{{ item.title }}</h3>
                    <div class="bg-light py-1 px-1">
                        <small>
                            {{ item.unsplashPhoto.userPhotos | length }} Done
                            /
                            {{ item.seqnr }} Seqnr
                        </small>
                    </div>
                    <p>
                        {{ item.description }}
                    </p>

                    <div class="btn-group">
                        <a href="{{ path('disjfa_mozaic_admin_mozaic_show', {'unsplashPhoto': item.unsplashPhoto.unsplashId }) }}" class="btn btn-outline-primary">
                            {{ 'admin.button.show_photo' | trans }}
                        </a>
                        <a href="{{ path('disjfa_mozaic_admin_season_item_edit', {'unsplashSeasonItem': item.id }) }}" class="btn btn-outline-primary">
                            {{ 'admin.button.edit_season_item' | trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
