{% extends "admin.html.twig" %}

{% trans_default_domain 'mozaic' %}

{% block title %}
    {{ 'admin.title.daily_photos' | trans }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'admin.page_title.daily_photos' | trans }}
{% endblock %}

{% block body %}
    <div class="bg-light py-2">
        <div class="container">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">
                    {{ 'admin.button.filter' | trans }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for item in daily %}
                <div class="col-lg-3 py-2">
                    <a href="{{ path('disjfa_mozaic_admin_mozaic_show', {'unsplashPhoto': item.unsplashPhoto.unsplashId}) }}" class="card">
                        <img src="{{ item.unsplashPhoto | unsplash_photo_block }}" alt="" class="card-img-top">
                        <div class="card-body">
                            {{ item.dateDaily }}
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="col-12 py-3">
                    <div class="alert alert-info">
                        {{ 'admin.label.no_items_found' | trans }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
