{% extends "admin.html.twig" %}

{% trans_default_domain 'mozaic' %}

{% block title %}
    {{ 'admin.title.all_photos' | trans | desc('All photos') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'admin.page_title.all_photos' | trans | desc('All photos') }}
{% endblock %}

{% block body %}
    <div class="bg-light">
        <div class="container pt-3 pb-1">
            <div class="d-flex justify-content-center text-muted ">
                {{ unsplashPhotos.totalItemCount }} items found - Page {{ unsplashPhotos.currentPageNumber }}
                of {{ unsplashPhotos.pageCount }}
            </div>
            <div class="pt-2">
                {{ knp_pagination_render(unsplashPhotos, null, {}, {align: 'center'}) }}
            </div>
        </div>
    </div>
    <div class="container pb-3">
        <div class="row">
            {% for unsplashPhoto in unsplashPhotos %}
                <div class="col-lg-3 col-sm-6 py-2">
                    <a href="{{ path('disjfa_mozaic_admin_mozaic_show', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}" class="card">
                        <img src="{{ unsplashPhoto | unsplash_photo_block }}" alt="" class="card-img-top">
                        <div class="card-body">
                            {{ unsplashPhoto.unsplashUser.name }}
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="col-12 py-3">
                    <div class="alert alert-info">
                        {{ 'admin.label.No_items_found' | trans | desc('No items found') }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="py-3">
            {{ knp_pagination_render(unsplashPhotos, null, {}, {align: 'center'}) }}
        </div>
    </div>
{% endblock %}
