{% extends "base.html.twig" %}

{% trans_default_domain 'mozaic' %}

{% block title %}
    Seasons - {{ parent() }}
{% endblock %}

{% block meta_og %}
    <meta property="og:type" content="puzzle"/>
    <meta property="og:url" content="{{ path('disjfa_mozaic_season_index') }}"/>

    {% for season in seasons | slice(0, 1) %}
        {% if loop.first %}
            <meta property="og:title" content="Seasons - {{ season.title }}"/>
            {% for item in season.items | slice(0, 1) %}
                <meta property="og:image" content="{{ item.unsplashPhoto | unsplash_photo_block }}"/>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta property="og:description" content="Play a mozaic puzzle season"/>
{% endblock %}

{% block body %}
    {% for season in seasons %}
        {% if loop.first %}
            <div class="bg-primary text-white py-5">
                <div class="container">
                    <h1>{{ season.title }}</h1>
                    {{ season.dateSeason | date }}
                    <p>
                        {{ season.description }}
                    </p>
                    <a href="{{ path('disjfa_mozaic_season_show', {'unsplashSeason': season.id} ) }}" class="btn btn-success">
                        <i class="fas fa-dice"></i>
                        Go to season
                    </a>
                    <a href="{{ path('disjfa_mozaic_season_show', {'unsplashSeason': season.id} ) }}" class="row pt-3">
                        {% for item in season.items | slice(0, 3) %}
                            <div class="col-sm pb-2">
                                <img src="{{ item.unsplashPhoto | unsplash_photo_block }}" alt="{{ item.title }}" class="img-fluid card-img">
                            </div>
                        {% endfor %}
                    </a>
                </div>
            </div>
        {% else %}
            <div class="{% if loop.index is odd %}bg-light{% endif %}">
                <div class="container py-3">
                    <h4>{{ season.title }}</h4>
                    {{ season.dateSeason | date }}
                    <p>
                        {{ season.description }}
                    </p>
                    <a href="{{ path('disjfa_mozaic_season_show', {'unsplashSeason': season.id} ) }}" class="btn btn-primary">
                        <i class="fas fa-dice"></i>
                        Go to season
                    </a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="bg-primary text-white py-5">
            <div class="container">
                <h1>{{ 'title.no_season_yet' | trans |desc('No season yet, sadly') }}</h1>
                <p>
                    {{ 'text.check_back_soon' | trans | desc('Check back soon, there will be one') }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

