{% extends "base.html.twig" %}

{% trans_default_domain 'mozaic' %}

{% block title %}
    My progress - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>My progress</h1>

        <div class="row">
            {% for userPhoto in userPhotos %}
                <div class="col-lg-3 col-sm-6 my-2">
                    <a href="{{ path('disjfa_mozaic_puzzle_photo', {'unsplashPhoto': userPhoto.unsplashPhoto.unsplashId}) }}" class="card">
                        <img src="{{ userPhoto.unsplashPhoto | unsplash_photo_block }}" alt="" class="card-img img-fluid">
                        <div class="card-body">
                            {{ userPhoto.unsplashPhoto.unsplashUser.name }}
                            <br>
                            <small>
                                <i class="fa fa-calendar"></i>
                                {{ userPhoto.dateFinished | date }}
                            </small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
