{% extends "base.html.twig" %}

{% trans_default_domain 'mozaic' %}

{% block meta %}
    {{ parent() }}
    <meta property="og:type" content="puzzle"/>
    <meta property="og:url" content="{{ path('disjfa_mozaic_puzzle_photo', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}"/>
    <meta property="og:title" content="Puzzle by {{ unsplashPhoto.unsplashUser.name }}"/>
    <meta property="og:image" content="{{ unsplashPhoto | unsplash_photo_block }}"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta property="og:description" content="Play a mozaic puzzle"/>
{% endblock %}

{% block title %}
    Puzzle by {{ unsplashPhoto.unsplashUser.name }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container py-3">
        {% if unsplashSeason is defined %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('disjfa_mozaic_season_show', {'unsplashSeason': unsplashSeason.id}) }}">
                            {{ unsplashSeason.title }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ unsplashSeasonItem.title }}
                    </li>
                </ol>
            </nav>
            {% if app.user == false %}
                <div class="alert alert-warning mt-3">
                    <strong>You are not logged in!</strong> You can play all puzzles but we do not log progress.
                </div>
            {% endif %}
        {% else %}
            <h1>{{ 'site.title.mozaic' | trans }}</h1>
        {% endif %}

        <div class="row">
            <div class="col-12 col-md-10">
                <div {{ stimulus_controller('mozaic', {route: path('disjfa_mozaic_api_puzzle_photo', {'unsplashPhoto': unsplashPhoto.unsplashId}), token: csrf_token(unsplashPhoto.id), finish: path('disjfa_mozaic_api_puzzle_finish', {'unsplashPhoto': unsplashPhoto.unsplashId}) }) }}>
                    <div>
                        <div class="mozaic-body">
                            <div class="mozaic-base" {{  stimulus_target('mozaic', 'base') }}>

                            </div>
                            <div>
                                <a href="#" class="btn close" @click="toggleFullscreen()">
                                    <i class="fa fa-times"></i>
                                </a>
                                <a href="#" class="btn fullscreen pull-right" @click="toggleFullscreen()">
                                    <i class="fa fa-window-maximize"></i>
                                    Full screen
                                </a>
                                ClickCount: <span class="tag tag-success"></span>
                                <span class="tag tag-success" v-if="done">Success</span>
                            </div>
                        </div>
                    </div>
                </div>

                <mozaic unsplash-route="{{ path('disjfa_mozaic_api_puzzle_photo', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}" token="{{ csrf_token(unsplashPhoto.id) }}" finish-route="{{ path('disjfa_mozaic_api_puzzle_finish', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}"></mozaic>
                <hr>
                <div class="btn-group">
                    <div class="btn disabled">Share:</div>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('disjfa_mozaic_puzzle_photo', {'unsplashPhoto': unsplashPhoto.unsplashId}) | url_encode }}" class="btn btn-outline-primary">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/home?status={{ url('disjfa_mozaic_puzzle_photo', {'unsplashPhoto': unsplashPhoto.unsplashId}) | url_encode }}" class="btn btn-outline-primary">
                        <i class="fab fa-fw fa-twitter"></i>
                    </a>
                </div>
                <br>
            </div>
            <div class="col-12 col-md-2">
                <h4>
                    Photo by
                    <a href="{{ unsplashPhoto.unsplashUser.linkHtml }}">{{ unsplashPhoto.unsplashUser.name }}</a>
                </h4>
                <hr>
                All photos are on <a href="https://unsplash.com/">Unsplash</a>
                <hr>
                <div class="btn-group">
                    <a href="{{ path('disjfa_mozaic_puzzle_photo_like', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}" class="btn{% if myLike and myLike.liked %} btn-info{% else %} btn-outline-info{% endif %}">
                        <i class="fas fa-thumbs-up"></i>
                        {{ unsplashPhoto.likeCount }}
                    </a>
                    <a href="{{ path('disjfa_mozaic_puzzle_photo_unlike', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}" class="btn{% if myLike and myLike.liked == false %} btn-info{% else %} btn-outline-info{% endif %}">
                        <i class="fas fa-thumbs-down"></i>
                        {{ unsplashPhoto.unlikeCount }}
                    </a>
                </div>
                <hr>
                <a href="{{ path('disjfa_mozaic_puzzle_random') }}">
                    <i class="fas fa-random"></i>
                    {{ 'site.button.random_new_photo' | trans }}
                </a>
                {% if app.user %}
                    <hr>
                    {% if myPhotos | length %}
                        <div class="text-success">
                            <i class="fas fa-check"></i>
                            {{ 'mozaic.title.you_have_finished_this_image' | trans }}
                        </div>
                    {% else %}
                        <div class="text-black-50">
                            <i class="fas fa-minus"></i>
                            {{ 'mozaic.title.you_have_not_finished_this_image' | trans }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
