{% extends "base.html.twig" %}

{% trans_default_domain 'mozaic' %}

{% block meta %}
    {{ parent() }}
    <meta property="og:type" content="puzzle"/>
    <meta property="og:url" content="{{ path('disjfa_mozaic_puzzle_photo', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}"/>
    <meta property="og:title" content="Puzzle by {{ unsplashPhoto.unsplashUser.name }}"/>
    <meta property="og:image" content="{{ unsplashPhoto | unsplash_photo_block }}"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="338"/>
    <meta property="og:description" content="Play a mozaic puzzle"/>
{% endblock %}

{% block title %}
    Puzzle by {{ unsplashPhoto.unsplashUser.name }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container py-3">
        {% if unsplashSeason is defined %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('disjfa_mozaic_season_show', {'unsplashSeason': unsplashSeason.id}) }}">
                            {{ unsplashSeason.title }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ unsplashSeasonItem.title }}
                    </li>
                </ol>
            </nav>
            {% if app.user == false %}
                <div class="alert alert-warning mt-3">
                    <strong>You are not logged in!</strong> You can play all puzzles but we do not log progress.
                </div>
            {% endif %}
        {% else %}
            <h1>{{ 'site.title.mozaic' | trans }}</h1>
        {% endif %}

        <div class="row">
            <div class="col-12 col-md-10">
                <div {{ stimulus_controller('disjfa/mozaic-bundle/puzzle', {route: path('disjfa_mozaic_api_puzzle_photo', {'unsplashPhoto': unsplashPhoto.unsplashId}), token: csrf_token(unsplashPhoto.id), finish: path('disjfa_mozaic_api_puzzle_finish', {'unsplashPhoto': unsplashPhoto.unsplashId}) }) }}>
                    <div>
                        <div class="mozaic-body">
                            <div class="mozaic-base" {{ stimulus_target('disjfa/mozaic-bundle/puzzle', 'base') }}></div>
                            <div class="d-flex gap-3 align-items-center mt-2">
                                <button class="btn btn-outline-secondary fullscreen pull-right" {{ stimulus_target('disjfa/mozaic-bundle/puzzle', 'fullscreen') }}>
                                    Full screen
                                </button>
                                <div>
                                    ClickCount:
                                    <span class="tag tag-success" {{ stimulus_target('disjfa/mozaic-bundle/puzzle', 'count') }}></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="btn-group">
                        <button class="btn btn-outline-secondary" {{ stimulus_target('disjfa/mozaic-bundle/puzzle', 'share') }}>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em">
                                <!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                <path d="M384 192c53 0 96-43 96-96s-43-96-96-96-96 43-96 96c0 5.4 .5 10.8 1.3 16L159.6 184.1c-16.9-15-39.2-24.1-63.6-24.1-53 0-96 43-96 96s43 96 96 96c24.4 0 46.6-9.1 63.6-24.1L289.3 400c-.9 5.2-1.3 10.5-1.3 16 0 53 43 96 96 96s96-43 96-96-43-96-96-96c-24.4 0-46.6 9.1-63.6 24.1L190.7 272c.9-5.2 1.3-10.5 1.3-16s-.5-10.8-1.3-16l129.7-72.1c16.9 15 39.2 24.1 63.6 24.1z"/>
                            </svg>
                            Share
                        </button>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-12 col-md-2">
                <h4>
                    Photo by
                    <a href="{{ unsplashPhoto.unsplashUser.linkHtml }}">{{ unsplashPhoto.unsplashUser.name }}</a>
                </h4>
                <hr>
                All photos are on <a href="https://unsplash.com/">Unsplash</a>
                <hr>
                {% if app.user %}
                    <turbo-frame id="like-it-or-not">
                        <div class="btn-group">
                            <a href="{{ path('disjfa_mozaic_puzzle_photo_like', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}" class="btn{% if myLike and myLike.liked %} btn-info{% else %} btn-outline-info{% endif %}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="rem" height="1em">
                                    <!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                    <path d="M171.5 38.8C192.3 4 236.5-10 274 7.6l7.2 3.8C316 32.3 330 76.5 312.4 114l0 0-14.1 30 109.7 0 7.4 .4c36.3 3.7 64.6 34.4 64.6 71.6 0 13.2-3.6 25.4-9.8 36 6.1 10.6 9.7 22.8 9.8 36 0 18.3-6.9 34.8-18 47.5 1.3 5.3 2 10.8 2 16.5 0 25.1-12.9 47-32.2 59.9-1.9 35.5-29.4 64.2-64.4 67.7l-7.4 .4-104.1 0c-18 0-35.9-3.4-52.6-9.9l-7.1-3-.7-.3-6.6-3.2-.7-.3-12.2-6.5c-12.3-6.5-23.3-14.7-32.9-24.1-4.1 26.9-27.3 47.4-55.3 47.4l-32 0c-30.9 0-56-25.1-56-56L0 200c0-30.9 25.1-56 56-56l32 0c10.8 0 20.9 3.1 29.5 8.5l50.1-106.5 .6-1.2 2.7-5 .6-.9zM56 192c-4.4 0-8 3.6-8 8l0 224c0 4.4 3.6 8 8 8l32 0c4.4 0 8-3.6 8-8l0-224c0-4.4-3.6-8-8-8l-32 0zM253.6 51c-14.8-6.9-32.3-1.6-40.7 12l-2.2 4-56.8 120.9c-3.5 7.5-5.5 15.5-6 23.7l-.1 4.2 0 112.9 .2 7.9c2.4 32.7 21.4 62.1 50.7 77.7l11.5 6.1 6.3 3.1c12.4 5.6 25.8 8.5 39.4 8.5l104.1 0 2.4-.1c12.1-1.2 21.6-11.5 21.6-23.9l-.2-2.6c-.1-.9-.2-1.7-.4-2.6-2.7-12.1 4.3-24.2 16-28 9.7-3.1 16.6-12.2 16.6-22.8 0-4.3-1.1-8.2-3.1-11.8-6.3-11.1-2.8-25.2 8-32 6.8-4.3 11.2-11.8 11.2-20.2 0-7.1-3.1-13.5-8.2-18-5.2-4.6-8.2-11.1-8.2-18s3-13.4 8.2-18c5.1-4.5 8.2-10.9 8.2-18l-.1-2.4c-1.1-11.3-10.1-20.3-21.4-21.4l-2.4-.1-147.5 0c-8.2 0-15.8-4.2-20.2-11.1-4.4-6.9-5-15.7-1.5-23.1L269 93.6c7-15 1.4-32.7-12.5-41L253.6 51z"/>
                                </svg>
                                <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-success">
                                    {{ unsplashPhoto.likeCount }}
                                </span>
                            </a>
                            <a href="{{ path('disjfa_mozaic_puzzle_photo_unlike', {'unsplashPhoto': unsplashPhoto.unsplashId}) }}" class="btn{% if myLike and myLike.liked == false %} btn-info{% else %} btn-outline-info{% endif %}">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="rem" height="1em">
                                    <!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                    <path d="M360 32l7.4 .4c35 3.6 62.5 32.2 64.4 67.7 17.8 11.8 30.1 31.4 32 53.9l.2 6c0 5.7-.7 11.2-2 16.5 10.2 11.5 16.8 26.3 17.8 42.7l.2 4.8c0 13.2-3.6 25.4-9.8 36 4.9 8.4 8.2 17.9 9.3 28l.4 8c0 37.3-28.3 67.9-64.6 71.6l-7.4 .4-109.7 0 14.1 30 3.1 7.6c12.5 35.7-1.8 75.5-34.2 95l-7.2 3.9c-37.5 17.6-81.7 3.6-102.6-31.2l-.6-.9-2.7-5-.6-1.2-30.1-64c-9.4 17.8-28 29.9-49.5 29.9l-32 0c-30.9 0-56-25.1-56-56L0 152c0-30.9 25.1-56 56-56l32 0c12.4 0 23.9 4.1 33.2 11 13.2-21.4 32-39.4 55-51.6l12.2-6.5 .7-.3 6.6-3.2 .7-.3 7.1-3c16.7-6.6 34.5-9.9 52.6-9.9L360 32zM255.9 80c-12 0-23.9 2.3-35.1 6.6l-4.7 2-5.3 2.6 0 0-12.2 6.5c-29.2 15.5-48.3 44.9-50.7 77.6l-.2 8 0 112.9 .1 4.1c.5 8.2 2.5 16.2 6 23.7l56.8 120.9 2.1 3.8c8.4 13.7 26 19.1 40.8 12.2l2.9-1.6c13-7.8 18.7-23.7 13.7-38l-1.2-3-30.2-64.2c-3.5-7.4-2.9-16.1 1.5-23.1s12-11.1 20.2-11.1l147.5 0 2.4-.1c11.3-1.1 20.3-10.1 21.4-21.4l.1-2.5c0-7.1-3.1-13.5-8.2-18-5.2-4.6-8.2-11.1-8.2-18s3-13.4 8.2-18c4.4-3.9 7.4-9.3 8-15.3l.2-2.7c0-8.4-4.4-15.9-11.2-20.2-10.7-6.9-14.2-20.9-8-32 1.5-2.6 2.5-5.6 2.9-8.6l.2-3.2c0-10.6-6.9-19.6-16.6-22.8-11.7-3.8-18.7-15.9-16-28 .2-.9 .3-1.8 .4-2.6l.2-2.6c0-12.4-9.5-22.6-21.6-23.8L360 80 255.9 80zM56 144c-4.4 0-8 3.6-8 8l0 224c0 4.4 3.6 8 8 8l32 0c4.4 0 8-3.6 8-8l0-224c0-4.4-3.6-8-8-8l-32 0z"/>
                                </svg>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{ unsplashPhoto.unlikeCount }}
                                </span>
                            </a>
                        </div>
                    </turbo-frame>
                {% else %}
                    <div class="alert alert-info">Log in to like</div>
                {% endif %}
                <hr>
                <a href="{{ path('disjfa_mozaic_puzzle_random') }}">
                    {{ 'site.button.random_new_photo' | trans }}
                </a>
                {% if app.user %}
                    <hr>
                    {% if myPhotos | length %}
                        <div class="text-success">
                            {{ 'mozaic.title.you_have_finished_this_image' | trans }}
                        </div>
                    {% else %}
                        <div class="text-black-50">
                            {{ 'mozaic.title.you_have_not_finished_this_image' | trans }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
